@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Map */
.leaflet-container {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .leaflet-container {
    height: 550px;
  }
}

/* Popup */
.popup {
  color: #0e98e7;
  font-size: 18px;
  display: flex;
  justify-content: center;
}
.popup-img {
  height: 80px;
  width: auto;
}

/* Button */
.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.App-header button {
  padding: 20px 30px;
  text-transform: uppercase;
  font-weight: bold;
}
